html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    */
}

canvas {
    box-sizing: border-box;
    display: block;
}